@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$font-size-xxs: 12px;
$font-size-xs: 18px;
$font-size-small: 24px;
$font-size-medium: 38px;
$font-size-large: 64px;
$font-size-xl: 96px;

